.purple,
.blue,
.orange {
  width: 247px;
  height: 656px;
  /* transform: rotate(45deg); */
  opacity: 0.85;
  position: absolute;
  border-radius: 100%;
  /* filter: blur(135px); */
  filter: blur(135px);
}

.blue {
  background-color: rgba(71, 162, 255, 1);
  top: 120px;
}

.purple {
  background-color: rgba(213, 58, 255, 1);
  top: 0px;
}

.orange {
  background-color: rgba(255, 131, 74, 1);
  right: 0px;
}
